/* variables */
:root {
  --color-background: hsl(4, 16%, 16%);
  --color-background-header: hsl(3, 84%, 58%);
  --color-background-pages: hsl(3, 59%, 49%);
  --color-foreground: hsl(0, 0%, 20%);
  --color-foreground-dim: hsl(0, 0%, 50%);
  --color-foreground-header: hsl(0, 0%, 100%);
  --color-link: hsl(214, 68%, 37%);
  --color-link-pages: hsl(0, 100%, 100%);
  --color-link-pages-hover-back: hsl(3, 58%, 31%);
  --color-link-hover: hsl(0, 0%, 0%);
  --color-content-background: hsl(0, 4%, 95%);
  --content-area-size: 900px;
  --content-article-size: 700px;
  --content-article-size-min: 400px;
  --content-sidebar-size: 200px;
}

/* theme */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

.header {
  background-color: var(--color-background-header);
  color: var(--color-foreground-header);
  display: grid;
  grid-template-areas:
    "branding"
    "pages"
    ;
}

.header a {
  color: var(--color-foreground-header);
  text-decoration: none;
}

.header__branding {
  grid-area: branding;
  padding: 1rem;
}

.header__branding__title {
  font-size: 1rem;
  padding: .5rem 1rem;
}

@media all and (max-width:480px) {
  .header__branding__title {
    padding: 0;
    padding-bottom: .5rem;
  }
}

.header__branding__title-frontpage {
  font-size: 2rem;
  text-align: center;
}

@media all and (max-width:480px) {
  .header__branding__title-frontpage {
    font-size: 1rem;
    text-align: left;
  }
}

.header__branding__description {
  text-align: center;
}

@media all and (max-width:480px) {
  .header__branding__description {
    font-size: .8rem;
    text-align: left;
  }
}

.header__pages {
  background-color: var(--color-background-pages);
  grid-area: pages;

  display: grid;
  grid-template-areas: "space1 pagelinks space2";
  grid-template-columns: auto minmax(0, var(--content-area-size)) auto;
}

@media all and (max-width:480px) {
  .header__pages {
    grid-template-areas: "pagelinks";
    grid-template-columns: auto;
  }
}

.header__pages > .menu {
  grid-area: pagelinks;
}

.header__pages ul {
  display: flex;
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
}

.header__pages a {
  color: var(--color-link-pages);
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.header__pages a:hover {
  background-color: var(--color-link-pages-hover-back);
}

.header__pages ul li {
  display: block;
}

.content {
  background-color: var(--color-content-background);
  display: grid;
  grid-template-areas: "space1 section sidebar space2";
  grid-template-columns:
    auto
    minmax(var(--content-article-size-min), var(--content-article-size))
    var(--content-sidebar-size)
    auto;
  padding-top: 1rem;
}

@media all and (max-width:1024px) {
  .content {
    grid-template-areas:
      "section"
      "sidebar";
    grid-template-columns: auto;
  }
}

@media all and (max-width:480px) {
  .content {
    padding: 0;
    padding-top: 1rem;
  }
}

.content > aside {
  grid-area: sidebar;
}

.content > section {
  grid-area: section;
}

h2.entry-title {
  margin: 0;
  padding-bottom: 1rem;
}

article.post {
  padding: 1rem;
  margin-bottom: 1rem;
}

@media all and (max-width:480px) {
  article.post {
    border-radius: 0;
  }
}

.entry-footer {
  color: var(--color-foreground-dim);
}

.copyright {
  color: var(--color-foreground-dim);
  font-size: .8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

ul.xoxo {
  margin: 0;
  padding: 0 1rem;
}

ul.xoxo ul,
ul.xoxo li {
  display: block;
  margin: 0;
  padding: 0;
}

.searchform > div {
  display: flex;
  flex-direction: column;
  grid-gap: .5rem;
}

.widget-title {
  margin: 0;
  margin-top: 1rem;
}